*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
.banner img{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    object-fit: cover;
    
}
.opc-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    list-style: none;
    gap: 10px;
    text-decoration: none;
    background-color: #0061FF;
   
}