<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.css">
  <title>Redes Gerenciadas por Software</title>
</head>
<body>

  <nav class="nav-menu">
      <ul class="opc-menu">
          <li> <a class="opc-menu" href="#">Conceito</a></li>
          <li> <a class="opc-menu" href="#">Aplicação</a></li>
          <li> <a class="opc-menu" href="#">Funcionamento</a></li>
          <li> <a class="opc-menu" href="#">Exemplos</a></li>
          <li> <img id='icon'src="../assets/lupa.png" alt="Lupa"></li>
      </ul>
  </nav>
  
  <div class="banner">
      <img src="https://imgs.search.brave.com/8fvwcHyh5eIX3SmmNmNqNgEKjmraKNW6MBlCx-3mRPU/rs:fit:1200:900:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMuaWRnZXNnLm5l/dC9pbWFnZXMvYXJ0/aWNsZS8yMDE3LzA5/L25ldHdvcmtpbmct/MTAwNzM1MDU5LWxh/cmdlLmpwZw" alt="Imagem de Redes">
      <label class = 'title-banner'>Redes Definidas por Software</label>
  </div> 

  <div class="wrapper">
    <main class = 'main'>
      <br>
      <h2> O que é rede definida por software (SDN)?</h2> <br>
      <article>
                  Uma rede definida por software (SDN) é uma forma inovadora de organizar as redes de computadores, pois não depende apenas de equipamentos físicos, como roteadores e switches. Em vez disso, utiliza um software especial chamado "controlador" para gerenciar a rede, que se comunica com os equipamentos físicos e direciona o tráfego na rede de forma personalizada e adaptável.
            Diferentemente da rede tradicional, a SDN é baseada em uma infraestrutura de software que permite maior flexibilidade, personalização e gerenciamento centralizado da rede. Isso significa que os administradores podem controlar, configurar e alocar recursos de maneira mais eficiente, sem precisar adicionar mais hardware.
            A segurança também é uma preocupação importante na SDN. Embora essa tecnologia ofereça maior visibilidade e capacidade de definir caminhos seguros, é importante proteger o controlador centralizado, que pode representar um ponto único de falha na rede e comprometer sua segurança.
            Em resumo, a SDN é uma tecnologia revolucionária que oferece maior flexibilidade, personalização e gerenciamento centralizado da rede. No entanto, é necessário garantir a proteção do controlador para manter a segurança da rede.
      </article><br><br>

      <h2> Qual é o relação entre a SDN e a rede baseada em intenção?</h2> <br>
      <article>
          A rede baseada em intenção (NBI) é uma abordagem de rede mais alta nível que reúne serviços de rede, como a SDN, para ajudar a simplificar o gerenciamento da rede. A SDN é usada para definir as políticas de rede, enquanto a NBI usa essas políticas para definir o comportamento da rede. O objetivo da NBI é aproveitar as capacidades de gerenciamento da SDN para tornar a rede mais inteligente, inteligente e auto-gerenciável. Em outras palavras, a SDN fornece as políticas e a NBI é usada para implementar essas políticas.
      </article>
    </main>
  
    <aside>
      <div class="card-aside aside">
        <img src="" alt="">
        <a href="">Ultimos Artigos:</a>
      </div>
    </aside>
    <footer>
      <p></p>
    </footer>
  </div>
</body>
</html>