<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.css">
  <title>Redes Gerenciadas por Software</title>
</head>
<body>
  <nav class="nav-menu">
    <ul class="opc-menu">
        <li> <a class="opc-menu" href="#">Index</a></li>
        <li> <a class="opc-menu" href="#">About</a></li>
        <li> <a class="opc-menu" href="#">Exemplos de SDN</a></li>
        <li> <a class="opc-menu" href="#">Post</a></li>
    </ul>
  </nav>
  <div class = 'banner'>
    <img src="https://imgs.search.brave.com/8fvwcHyh5eIX3SmmNmNqNgEKjmraKNW6MBlCx-3mRPU/rs:fit:1200:900:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMuaWRnZXNnLm5l/dC9pbWFnZXMvYXJ0/aWNsZS8yMDE3LzA5/L25ldHdvcmtpbmct/MTAwNzM1MDU5LWxh/cmdlLmpwZw" alt="Imagens Redes">
  </div>
  
  <main>
    <h1>Redes definidas por software</h1>
    <img src="https://imgs.search.brave.com/hZSK1mkMzNyNqM2UwjPff_qZEnMCWNYMg1Z3xBLbQ5g/rs:fit:960:675:1/g:ce/aHR0cHM6Ly9pbnB1/dGVjLmNvbS5ici93/cC1jb250ZW50L3Vw/bG9hZHMvMjAxOS8x/Mi9JbnB1dGVjLVRp/cG9zLURlLVJlZGVz/LUludGVybmV0LUNv/bXB1dGFkb3Jlcy1U/ZWNub2xvZ2lhLURh/LUluZm9ybWElQzMl/QTclQzMlQTNvLTk2/MHg2NzUuanBn" alt="Imagem de Redes">
    <label>
      <h3> O que são Redes Gerenciadas por Software? </h3>
      <p>Provisione, gerencie e programe redes mais rapidamente com rede definida por software. Nesta abordagem centralizada do gerenciamento de rede, a infraestrutura de rede subjacente é retirada dos aplicativos. A SDN oferece a escolha na automação e na capacidade de programação entre data centers, campi e redes de longa distância. Use as soluções definidas por software da Cisco para criar redes baseadas em intenção.</p>
    </label>
  </main>



</div>
</body>
</html>