*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #000;
    
}
.banner{
    position:relative;
}
.title-banner{
    position: absolute;
    color:#fff;
    font-size: 48px;
    left: 430px;
    top: 60px;
}
.banner img{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    object-fit: cover;
    position: absolute;
    margin-bottom: 200px;
    
}
.opc-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    list-style: none;
    gap: 30px;
    text-decoration: none;
    background-color: #00B9D7;
    color: #fff;
   
}
