<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.css">
  <title>Redes Gerenciadas por Software</title>
</head>
<body>
  <nav class="nav-menu">
    <ul class="opc-menu">
        <li> <a class="opc-menu" href="#">Index</a></li>
        <li> <a class="opc-menu" href="#">About</a></li>
        <li> <a class="opc-menu" href="#">Contact</a></li>
        <li> <a class="opc-menu" href="#">Post</a></li>
    </ul>
  </nav>
  <div class = 'banner'>
    <img src="https://imgs.search.brave.com/8fvwcHyh5eIX3SmmNmNqNgEKjmraKNW6MBlCx-3mRPU/rs:fit:1200:900:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMuaWRnZXNnLm5l/dC9pbWFnZXMvYXJ0/aWNsZS8yMDE3LzA5/L25ldHdvcmtpbmct/MTAwNzM1MDU5LWxh/cmdlLmpwZw" alt="Imagens Redes">
  </div>



</div>
</body>
</html>